@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: rgb(209, 213, 219);
  --lighter: rgb(229, 231, 235);
  --darker: rgb(107, 114, 128);
  --react: #43c3ec;
  --reactHover: rgba(67, 195, 236, 0.2);
  --tailwind: #38bdf8;
  --tailwindHover: rgba(56, 189, 248, 0.2);
  --redux: #764bbe;
  --reduxHover: rgba(118, 75, 190, 0.2);
  --firebase: #f5820b;
  --firebaseHover: rgba(245, 130, 11, 0.2);
  --styled: #f60055;
  --styledHover: rgba(246, 0, 85, 0.2);
  --material: #00affe;
  --materialHover: rgba(0, 175, 254, 0.2);
  --mysql: #f49310;
  --mysqlHover: rgba(244, 147, 16, 0.2);
  --axios: #3d68ec;
  --axiosHover: rgba(61, 104, 236, 0.2);
}

body {
  --ti-cursor-color: var(--accent);
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ayu {
  background-color: #242936;
  color: #727a8b;
  --accent: #ffcc66;
  --ti-cursor-color: var(--accent);
  --menu: #242936;
  --explorerBg: #242936;
  --sidebarBg: #242936;
  --activeTabBg: rgba(255, 255, 255, 0.05);
  --activeExplorerTab: rgba(255, 255, 255, 0.05);
  --activeTabText: #fff;
}

.dracula {
  background-color: #282a36;
  color: #f8f8f2;
  --accent: #ff79c6;
  --ti-cursor-color: var(--accent);
  --menu: #21222c;
  --activeTabBg: #282a36;
  --activeExplorerTab: #282a36;
  --sidebarBg: #44475a;
  --explorerBg: #21222c;
  --activeTabText: #fff;
}
.oneDarkPro {
  background-color: #282c34;
  color: #abb2bf;
  --accent: #98c379;
  --ti-cursor-color: var(--accent);
  --menu: #24272e;
  --activeTabBg: #2c313a;
  --activeExplorerTab: #2c313a;
  --sidebarBg: #282c34;
  --explorerBg: #24272e;
  --activeTabText: #fff;
}
.poimandres {
  background-color: #252b37;
  color: #abb2bf;
  --accent: #5DE4c7;
  --ti-cursor-color: var(--accent);
  --menu: #252b37;
  --activeTabBg: #252b37;
  --activeExplorerTab: #252b37;
  --sidebarBg: #252b37;
  --explorerBg: #252b37;
  --activeTabText: #fff;
}

/* *{
  box-shadow: 0 0 0 3px red
  inset
} */
