@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-contact: #ddfd8c;
  --purple-contact: #bd93f9;
  --ti-cursor-color: #ffcc66;
}

body {
  /* background-color: #1e202c; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ayu {
  background-color: #242936;
  color: #727a8b;
}

.dracula {
  background-color: #282a36;
  color: #ff79c6;
}

/* *{
  box-shadow: 0 0 0 3px red
  inset
} */
